.jumbotron {
    color: #fff;
    background-position-y: 10%;
    color: #fff;
    background-color: teal;
}

div.panel-body {
    /* background-image: url('../images/express.jpg'); */
    color: #fff;
}

.btn-primary {
    background-color: teal;
    border-color: #fff;
    font-weight: bold;
}
